<div class="container mt-3">
  <div class="row d-flex">
    <div class="col">
      <table class="table table-striped" *ngIf="romsSites$ | async as romsSites">
        <thead>
          <tr>
            <th scope="col">Roms</th>
            <th class="d-flex flex-row align-items-center">
              Plataformas
              <select class="form-select w-25 ms-2" [(ngModel)]="filterDevice">
                <option value="" [selected]="!filterDevice">Filtrar</option>
                <ng-container *ngFor="let device of devices">
                  <option value="{{ device }}">{{ device }}</option>
                </ng-container>
              </select>
            </th>
            <th scope="col">Links</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let romSite of romsSites">
            <tr *ngIf="showRomSite(romSite)">
              <td>{{ romSite.siteName }}</td>
              <td>
                <p class="mb-1" *ngFor="let device of romSite.devices">
                  {{ device }}
                </p>
              </td>
              <td>
                <div>
                  <a
                    [href]="romSite.link"
                    role="button"
                    tabindex="-1"
                    class="btn btn-outline-primary btn-sm"
                    >Acessar</a
                  >
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
