<div class="container mt-3">
  <div class="row mb-5 mt-5" >
    <div class="col d-flex justify-content-center">
      <div class="input-group w-25" >
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="bi bi-funnel"></i></span>
        </div>
        <select class="form-select w-25 ms-2" [(ngModel)]="tutorialFilter">
          <option value="" [selected]="!tutorialFilter">Filtrar</option>
          <ng-container *ngFor="let tag of tags">
            <option value="{{ tag }}">{{ tag }}</option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>
  <ng-container *ngIf="tutoriais$ | async as tutoriais">
    <div class="row">
      <div class="col d-flex flex-wrap gap-3">
        <ng-container 
          *ngFor="let tutorial of tutoriais.slice((currentPage - 1)*pageSize, (currentPage - 1)*pageSize + pageSize - 1)">
          <lke-tutoriais-lista-item
            *ngIf="showTutorial(tutorial)"
            [tutorial]="tutorial"
          ></lke-tutoriais-lista-item>
        </ng-container>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col d-flex justify-content-center">
        <ngb-pagination
          [(page)]="currentPage"
          [pageSize]="pageSize"
          [collectionSize]="tutoriais.length"
        ></ngb-pagination>
      </div>
    </div>
  </ng-container>
  
</div>
