<nav class="navbar navbar-expand-lg sticky-top bg-light">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center justify-content-center text-primary" href="#"><i class="bi bi-controller text-primary me-1" style="font-size: xx-large;"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" style="display: flex;">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/emuladores" routerLinkActive="active">Emuladores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/roms">Roms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tutoriais" routerLinkActive="active">Tutoriais</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
